* {
    box-sizing: border-box;
}

.hea1, .foooooter {
	height: 90px;
	font-family: 'Luckiest Guy', cursive;
	padding-left: 0;
	padding-right: 0;
	background-color: #f29c31;
}
.kart {
	width: 90px;
	height: 90px;
	margin-left: 0;
}
.divhead,  .fooooot {
	height: 90px;
	background: linear-gradient(to right, #403939 , #393E3F);
}
.divhead h1 {
	margin-right: 15px;
	text-shadow: 3px 2px rgba(31, 27, 24, 1);
}
.mynav {
	padding: 0;
	font-family: 'Attentica 4F', cursive;
	font-size: 18px;
	text-shadow: 3px 2px rgba(31, 27, 24, 1);
	letter-spacing: 3px;
	background: linear-gradient(to right, #403939 , #393E3F);
	margin: 10px auto;
	border-radius: 15px;
}
nav a {
	color: wheat;
}
.cont1 {
	background-color: rgba(255, 255, 255, 0.73);
}
.cont1 h2 {
	font-size: 35px;
}
.cont1 div p{ 
	margin-left: 50px;
	margin-bottom: 0;
}
.cont1 .cont2 {
	width: 90%;
}
.p1 {
	color: brown;
}
.cont3 {
	width: 70%;
}
figure {
	text-align: center;
	font-size: smaller;
	text-indent: 0;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
  }
.mymenu {
	width: 100%;
}
#vid {
	text-align: center;
}
#vid h2 {
	font-size: 30px;
}
.menuf {
	margin:0 auto;
}
.menuf h2 {
	color: brown;
}
.fooooot {
	height: 80px;
}
.fooooot h3, h4, h6{
	font-family: 'Attentica 4F', cursive;
	text-align: center;
	margin: 0 auto;
}
.citatka h1 {
	color: brown;
	text-align: center;
}
.blockquote-footer {
	font-size: 25px;
}
#stoim {
	color: brown;
}
.formaa {
	background-color: #FFFFFF;
	text-align: center;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em 1.5em;
}
#myslidergg {
	display: block;
	margin: 0 auto;
}
#myslidergg img {
	width: 98%;
}
@media screen and (min-device-width: 576px) {
	body {
		font-size: 28px;
	}
	.mynav {
		font-size: 25px;
	}
	.cont1 .cont2 {
	width: 50%;
	}
	.cont1 h2 {
	font-size: 40px;
	}
	.mymenu {
		width: 50%;
	}
        #myslidergg img {
		width: 100%;
	}
}
.logo {
    height: 100px;
    width: 100px;
}

.img {
    height: 300px;
    width: 300px;
}

tr,
td {
    color: #6d5e6c;
    border: 3px solid rgb(202, 134, 134);
    text-align: center;
}

#table1,
#Cours,
#review,
.reviews,
#table3,
h3,
.forms {
    background-color: #00ff90;
    margin-top: 10px;
    max-width: 960px;
    margin-left: 5%;
    width: 100%;
}

.table2 {
    margin-left: 20%;
}

.table21:hover {
    color: #ff0ff3
}

.rev {
    background-color: #32CD32;
}

.about {
    background-color: #a4d11e;
}

.contacts {
    background-color: #0094ff;
}

.headerstyle {
    background-color: #701414;
}

.navstyle {
    background-color: #ff6a00;
}

#menu ul {
    list-style: none;
}

.mainstyle {
    background-color: #00ff90;
}

p {
    border: 1px solid red;
    padding: 5px;
}

i {
    border: 1px solid blue;
    padding: 5px;
}

body {
    background: url(fon3.jpg);
    background-size: 100%;
}
